body {
    background-color: #FAFDF3;
}

h1 {
    color: red;
}

.front {
    height: 200px;
    width: 400px;
}

.logo {
    float: left;
}

.header {
    padding: 10px;
    max-height: 75px;
    text-align: left;
    background: #1abc9c;
    color: white;
  }

.header h1 {
    font-size: 36px;
    padding: 5px;
}

  .active {
    background-color: #04AA6D;
  }

  li {
    float: right;
    list-style-type: none;

  }
  
  a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
  }

  li a:hover {
    background-color: #111;
  }

  .logo {
      max-width: 75px;
      padding-right: 20px;
  }


  .projects-section {
    text-align: center;
    padding: 5rem 2rem .25rem 2rem;
    background: #D1BFA7;
    color: white;
    font-size: x-large;
}

.projects-section h2 {
    font-size: large;
    padding: 0 0 10px 0;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}

.project-tile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-self: center;
}

.project-title {
    font-size: x-large;
    text-align: center;
}

a { 
    text-decoration: none;
    color: white;
}

.project-image {
    height: 250px;
    width: 300px;
}
