body {
    background-color: #FAFDF3;
    margin-left: 10px;
}

h1 {
    color: #FFFFFF;
}

header h1{
  font-size: 24px;
  color: #262626;
  padding-top: 10px;
}

.front {
    max-height: 200px;
}

.logo {
    float: left;
    margin-top: 3px;
}

.header {
    padding: 10px;
    max-height: 80px;
    text-align: left;
    background: #262626;
    color: white;
  }

.header h1 {
    font-size: 36px;
    padding: 5px;
    color: #FFFFFF;
}

  .active {
    background-color: #455A64;
  }

  li {
    float: right;
    list-style-type: none;
    font-size: 24px;
  }
  
  a {
    display: block;
    padding: 15px;
    background-color: #333333;
    margin-top: 20px;
    margin-right: 10px;
  }

  .nav {
    background-color: #262626;
  }

  li a:hover {
    background-color: #656565;
  }

  .logo {
      max-width: 75px;
      padding-right: 20px;
  }

  main p {
    color: #595959;
    font-size: 20px;
  }
  .projects-section {
    text-align: center;
    padding: 0px;
    background: #262626;
    color: white;
    font-size: x-large;
}

.projects-section h1 {
  font-size: 36px;
  padding-top: 10px;
  padding-bottom: 0px;
}

.projects-section h2 {
    font-size: 24px;
    color: #DBDBDB;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 5px;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}

.project-tile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-self: center;
}

.project-title {
    font-size: x-large;
    text-align: center;
}

a { 
    text-decoration: none;
    color: white;
    background-color: #FAFDF3;
    margin-bottom: 20px;
}

.project-image {
    height: 200px;
    width: 300px;
}